.alert {
  margin-top: 10px;
}

.container {
  padding-top: 50px;
}

th {
  text-align: center;
}

td {
  background-color: #f5f8fb;
  padding: 3px;
  text-align: center;
}

.div-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: flex-start;
  padding: 1vw;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.div-left {
  display: flex;
  flex-direction: column;
  width: 40%;
  border-radius: 5px;
  padding: 10px;
  align-items: flex-start;
  justify-content: center;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 3px 3px 5px 6px #ccc; /* Firefox 3.5 - 3.6 */
  box-shadow: 3px 3px 5px 6px #ccc; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.button{
  color: #fff;
  margin-bottom: 30px;
  width: fit-content;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hoverTable {
  border-collapse: separate;
  border-spacing: 0 4px;
  border: 0px;
  margin-bottom: 50px;
  /* width: fit-content; */
}

.hoverTable tr:nth-child(even) {
  color: orange;
}

.hoverTable tr:nth-child(odd) {
  color: green;
}

th {
  color: black;
}

.clickable-row:hover td {
  -moz-box-shadow: 2px 4px 2px 0 #0e86d4;
  -webkit-box-shadow: 2px 4px 2px 0 #0e86d4;
  box-shadow: 2px 4px 2px 0 #0e86d4;
  cursor: pointer;
}

.clickable-row:hover td:first-child {
  -moz-box-shadow: 2px 4px 2px 0 #0e86d4;
  -webkit-box-shadow: 2px 4px 2px 0 #0e86d4;
  box-shadow: 2px 4px 2px 0 #0e86d4;
  cursor: pointer;
}

.clickable-row:hover td:last-child {
  -moz-box-shadow: 2px 4px 2px 0 #0e86d4;
  -webkit-box-shadow: 2px 4px 2px 0 #0e86d4;
  box-shadow: 2px 4px 2px 0 #0e86d4;
  cursor: pointer;
}